.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  height: max-content;
  line-height: 3;
  width: max-content;
  justify-content: space-around;
  cursor: pointer;
}

/* .navbar-item-home:active,
.navbar-item-explore:focus,
.navbar-item-playlist:focus,
.navbar-item-watchLater:focus {
  color: aquamarine;
} */
